body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('login.jpg') no-repeat center center/cover;
    color: white;
    font-family: Arial, sans-serif;
}

.login-box {
    background: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ff4444;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

#preguntaLink {
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: #ff4444;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#preguntaLink:hover {
    background-color: #cc0000;
}
